<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>SOVa</title>
      <link rel="stylesheet" href="{{ url_for('static',filename='css/auth.css') }}">
   </head>
   <body>
      <div class="wrapper">
         <div class="title">
            Register Form
         </div>
         <form action="{{ request.path }}" method="post">
            <div class="field">
               <input type="text" name="username" required>
               <label>Username</label>
            </div>
            <div class="field">
               <input type="password" name="password" required>
               <label>Password</label>
            </div>
            <div class="field">
               <input type="password" name="cpassword" required>
               <label>Retype Password</label>
            </div>
            <div class="content">
            </div>
            <div class="field">
               <input type="submit" value="Register" >
            </div>
            <div class="signup-link">
               Already have account? <a href="{{ url_for('login') }}">Signon now</a>
            </div>
         </form>
      </div>
   </body>
</html>